@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #FFFFFF;
  --foreground: #1C1F3A;
}

html {
  background: #FFFFFF;
}

body {
  color: var(--foreground);
  background: #FFFFFF;
  /* Hardcoded to prevent FOUC */
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
  will-change: scroll-position;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

/* Lenis configuration */
html.lenis,
html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}